*, *::before, *::after {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	user-select: none;
	box-sizing: border-box;

}

html, body {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #2A2C2F;
}

body.lock {
	overflow: hidden;

	@media screen and (min-width: 768px) {
		overflow: auto;
	}
}

a { text-decoration: none; color: #fff;}

@import 'scrollbar';
@import 'fonts';

@import 'fancybox.css';

.page {
	
	margin: 0 auto;
	padding: 20px;

	min-height: 100vh;
	font-family: 'Inter';
	color: #fff;

	@media (max-width: 576px) {
		padding: 5px 15px 20px;
	}

	@media screen and (min-width: 990px) {
		max-width: 90vw;
	}

	@media screen and (min-width: 1400px) {
		max-width: 80vw;
	}

}

.parallax-mirror {
	z-index: 1!important;
}

.user {
	color: #fff;
	flex: 1;
    text-align: end;
    margin-right: 40px;
}

.user__link {
	color: #a0d700;
	transition: .2s;
}

.user__link:hover {
	color: #c0ff08;
}

.navbar-admin {
	width: 100%;
	height: 80px;
	margin-top: 20px;
	padding: 0 20px;
	display: none;
	background: #1c1d1e;
	border: 4px solid #1c1c1c;
	border-radius: 10px;
}

.admin-menu {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
}

.admin-menu__link {
	color: #a0d700;
	transition: .2s;
}

.admin-menu__link:hover {
	color: #c0ff08;
}

@media (max-width: 768px) {
	.navbar-admin {
		height: 60px;
	}
}

.navbar-admin.active {
	display: block;
}


@import 'header/header';

@import 'intro';

@import 'gallery';

@import 'posts';

@import 'travel';

@import 'footer';