/* --------- burger --------- */

.burger {
	display: flex;
	align-self: center;
	position: relative;
	width: 30px;
	height: 20px;
	z-index: 1;
	cursor: pointer;

	@media (min-width: 577px) {
		width: 35px;
		height: 23px;
	}

	&__element {
		width: 100%;
		height: 2px;
		position: absolute;
		top: 9px;
		left: 0;
		background-color: #fff;

		@media (min-width: 577px) {
			height: 3px;
			top: 10px;
		}
	}

	&:before,
	&:after {
		width: 100%;
		height: 2px;
		position: absolute;
		left: 0;
		background-color: #fff;
		transition: .3s;
		content: '';

		@media (min-width: 577px) {
			height: 3px;		
		}
	}

	&:before { top: 0; }
	&:after { bottom: 0; }

	&.active:before {
		transform: rotate(45deg);
		top: 9px;
	}

	&.active:after {
		transform: rotate(-45deg);
		bottom: 9px;

		@media (min-width: 577px) {
			bottom: 11px;	
		}
	}

	&.active span {
		display: none;
	}

} // burger